.mobile {
    display: none;
}

.main-body {
    margin: 0;
}

.main-body ::selection {
    color: white;
    background-color: black;
}

.navigation-bar {
    margin: 0 50px;
    padding: 0;
    height: 50px;
}

.navigation-button {
    height: 50px;
    margin: 0 20px;

    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-button > a:hover {
    color: gray;
    transition: 200ms;
}

.navigation-button > a {
    text-decoration: none;
    color: black;
}

.navigation-button-left {
    float: left;
}

.navigation-button-left.logo {
    font-family: "Arial Black", "微软雅黑", "黑体", serif;
    font-size: 24px;
}

.navigation-button-right {
    float: right;
    font-family: "微软雅黑", "黑体", serif;
    font-size: 20px;
    font-weight: bold;
}

.article {
    margin: 50px 300px;
}

.article-head {
    margin: 0;
    padding: 0;
}

.article-title {
    margin-left: 10px;

    font-family: "微软雅黑", "黑体", serif;
    font-size: 40px;
    font-weight: bold;
}

.article-body {
    font-family: "微软雅黑", "宋体", serif;
    font-size: 20px;
}

.article-body > p {
    font-family: "微软雅黑", "宋体", serif;
    font-size: 20px;
    line-height: 1.5;
}

.article-body a {
    text-decoration: none;
    color: gray;
    word-break: break-all; /*指定了怎样在单词内断行，说白了就是可以让超链接换行了*/
}

.article-body mjx-container {
    overflow: auto;
}

.article-body pre {
    overflow: auto;
}

.article-list-item {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 3px;

    display: flex;
    align-items: center;

    animation: list-item-display 500ms;
}

@keyframes list-item-display {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

.article-list-item:hover {
    background: #F0F0F0;
    transition: 200ms;
 }

.article-list-title {
    font-family: "微软雅黑", "黑体", serif;
    font-size: 30px;
    font-weight: bold;

    margin-left: 10px;
}

